:root {
    --bgColor: 		#282A36;
    --logoColor: #869aa6;
    --textColor: 	#869aa6;
    --headerColor: #181d26;  
    --buttonBGColor: 		#2c3540;
    --buttonHoverBGColor:  #3d4c5f;
    --buttonActiveBGColor: #000000;
    --buttonTextColor: #c1ceD9;
    --controlsColor: #181d26;
    --borderColor: #3d4c5f;
    --btnSize: 1.5em;
    --btnFontSize: 12pt;
}



body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--bgColor);
    color: var(--textColor);
    font-family: 'Helvetica', 'Arial', sans-serif;
}
button {
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--buttonBGColor);
    color: var(--buttonTextColor);
    padding: 0px;
    padding-block: 0px;
    border: 1pt;
    border-radius: 2pt;
    line-height: var(--btnSize);
    min-width: var(--btnSize);
    transition: background-color 0.2s;
}
button:hover {
    background-color: var(--buttonHoverBGColor);
}
button:active {
    background-color: var(--buttonBGColor);
}
canvas {
    image-rendering: pixelated;
}
a {
    color: lightblue;
}
a:visited {
    color: cadetblue;
}



.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: var(--headerColor);
}
.header button {
    padding: 2pt 8pt 2pt 8pt;
    margin-left: 0.5ch;
    margin-right: 0.5ch;
}
.header .title {
    color: var(--logoColor);
}
.header .controls {
    margin-left: 4ch;
}
.header .links {
    flex-grow: 1;
    text-align: right;
}



#main {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 2.1em;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}



.Unit {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2ch;
}

.Unit .panel {
    margin-right: 0.5ch;
}
.Unit .panel .controls {
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 2pt;
    /* border-radius: 2pt;
    border: 1pt solid var(--borderColor); */
    /* background-color: var(--controlsColor); */
}
.Unit .panel .controls button {
    font-size: var(--btnFontSize);;
    width: 1.5em;
    line-height: 1.5em;
}
.Unit .panel .controls .title {
    writing-mode: sideways-lr;
    margin-top: 1ch;
    margin-bottom: 1ch;
    font-weight: bold;
    line-height: 1.5em;
    min-height: 2ch;
    width: 1.5em;
    overflow: hidden;
}
.Unit .panel .controls .title.invalid {
    border-radius: 2pt;
    outline: 2pt solid darkred;
}

.Unit .contents {
    display: flex;
    flex-flow: column;
}

.Unit .contents .editor {
    display: flex;
    flex-flow: column;
    border-radius: 2pt;
    border: 1pt solid var(--borderColor);
    /* resize: both;
    overflow-y: auto; */
}
.cm-editor {
    flex: 1;
    /* background-color: transparent; */
    font-size: 11pt;
}
.cm-editor .cm-gutters {
    background-color: transparent;
}
.cm-editor.cm-focused {
    outline: none;
}

/* .Unit .contents .ui {
    background-color: #FFFFFF;
} */



.insert {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    padding-top: 1em;
    padding-bottom: 1em;
}
.insert button {
    font-size: var(--btnFontSize);
    font-weight: bold;
    margin: 2pt;
}