/* :root {
    --bgColor: 		#00002b;
    --textColor: 	#DDE6ED;
    --headerColor: #210051;
    --buttonColor: 	#320261;
} */
/* :root {
    --bgColor: 		#26070C;
    --textColor: 	#F2E3B3;
    --headerColor: #731414;
    --buttonColor: 	#8C1818;
} */
/* :root {
    --bgColor: 		#212129;
    --textColor: 	#9DB2BF;
    --headerColor: #3d3e51;
    --buttonBGColor: 		#4c5265;
    --buttonTextColor: #DDE6ED;
} */
/* :root {
    --bgColor: 		#26070c;
    --textColor: 	#f2e383;
    --headerColor: #8c1818;
    --buttonBGColor: 		#590e1c;
    --buttonTextColor: #f2e383;
} */
/* :root {
    --bgColor: 		#0d0000;
    --textColor: 	#a69897;
    --headerColor: #400101;
    --buttonBGColor: 		#590202;
    --buttonTextColor: #a69897;
} */
:root {
    --bgColor: 		#090a0d;
    --logoColor: #869aa6;
    --textColor: 	#869aa6;
    --headerColor: #181d26;  
    --buttonBGColor: 		#2c3540;
    --buttonTextColor: #c1ceD9;
    --controlsColor: #181d26;
}
/* :root {
    --bgColor: 		#182126;
    --textColor: 	#8d9ca6;
    --headerColor: #465259;  
    --buttonBGColor: 		#8d9ca6;
    --buttonTextColor: #c1ced9;
    --controlsColor: #8c6151;
} */


body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--bgColor);
    color: var(--textColor);
    font-family: 'Helvetica', 'Arial', sans-serif;
}
button {
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--buttonBGColor);
    color: var(--buttonTextColor);
    padding: 2pt;
}
canvas {
    image-rendering: pixelated;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: var(--headerColor);
}
.header .title {
    color: var(--logoColor);
}
.spacer {
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

#contents {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 2.1em;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}



.Unit {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2em;
}
.Unit .panel {
    /* background-color: #000; */
}
.Unit .panel .controls {
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 4pt 2pt 4pt 2pt;
    margin-right: 0.5ch;
    background-color: var(--controlsColor);
    transition: trnasform 2s;
}
.Unit .panel .controls .title {
    writing-mode: sideways-lr;
    margin-bottom: 1ch;
    font-weight: bold;
    line-height: 1.5em;
    min-height: 2ch;
    width: 1.5em;
    overflow: hidden;
}

.Unit .contents {
    display: flex;
    flex-flow: row wrap;
}
.Unit .contents .editor {
    display: flex;
    flex-flow: column;
    /* resize: both;
    overflow-y: auto; */
}



.cm-editor {
    flex: 1;
    background-color: transparent;
    font-size: 11pt;
}
.cm-editor .cm-gutters {
    background-color: transparent;
}
.cm-editor.cm-focused {
    outline: none;
}
.cm-editor .cm-error {
    background-color: rgba(255, 0, 0, 0.2);
    text-decoration: underline red;
}